/* Container for the entire animal details section */
.animal-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  color: white;
  padding: 20px;
  min-height: 100vh;
}

/* Background image for the animal details */
.animal-image-container {
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 400px; /* Fixed height */
  margin-bottom: 20px;
  overflow: hidden; /* Hide overflow */
}

/* Image styling */
.animal-image-2 {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  filter: brightness(50%); /* Dims the image for better readability of text */
}

/* Container for description text over image */
.animal-description-container {
  position: absolute;
  top: 10%; /* Adjust as needed */
  left: 5%;
  right: 5%;
  color: #fff;
  z-index: 1; /* Ensure it is above the image */
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Background color with transparency */
  border-radius: 10px;
  max-width: 600px;
  text-align: center;
}
/* Title styling */
.animal-name {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* Description styling */
.animal-description h5 {
  margin-bottom: 10px;
}

.vet-record {
  background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  border: 1px solid #ddd;
  border-radius: 10px;
}

/* Top icon styling */
.top-icon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0.5;
  cursor: pointer;
  width: 50px; /* Adjust size as needed */
}
