.animal-details-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  overflow: hidden;
  color: white;
  padding: 20px;
  min-height: 100vh;
}

.animal-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.animal-image-2 {
  width: 90%;
  height: 80%;
  object-fit: cover;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  filter: brightness(90%);
}

.animal-description-container {
  position: fixed; 
  top: 160px; 
  right: 120px; 
  width: 400px; 
  background: rgba(0, 0, 0, 0.6); 
  color: #fff; 
  padding: 15px; 
  border-radius: 10px; 
  z-index: 1000; 
  max-height: 80vh; 
  overflow-y: auto; 
}

.animal-name {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.animal-description h5 {
  margin-bottom: 10px;
}

.vet-record {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid #ddd;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
}

.top-icon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0.5;
  cursor: pointer;
  width: 50px;
}

@media (max-width: 768px) {
  .animal-description-container {
    position: relative;
    bottom: auto;
    left: auto;
    transform: none;
    margin-top: 20px;
    max-width: 90%;
    width: 90%;
    right: 5%;
  }

  .animal-image-container {
    height: 300px;
  }

  .animal-name {
    font-size: 1.5rem;
  }

  .vet-record {
    padding: 10px;
    margin-top: 15px;
  }
}
