.animal-image {
  max-width: 100%; /* Assure que l'image ne dépasse pas la largeur du conteneur parent */
  height: auto; /* Hauteur automatique pour maintenir l'aspect ratio */
  display: block; /* Pour gérer les marges automatiques */
}