/* Container for the entire habitat details section */
.habitat-details-container {
  background-color: #343a40;
  color: #ffffff;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

/* Title of the habitat */
.habitat-title {
  margin-bottom: 50px;
  margin-top: 25px;
  text-decoration: underline;
  font-weight: bold;
  color: #d9ffb6;
}

/* Container for the animals in a row */
.animal-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

/* Individual animal card */
.animal-card {
  background-color: #495057;
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
  width: calc(33% - 40px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s;
}

.animal-card:hover {
  transform: translateY(-5px);
}

/* Image of the animal */
.animal-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

/* Name of the animal */
.animal-name {
  text-decoration: underline;
  margin-top: 15px;
  color: #c0f0ff;
}

/* Details of the animal */
.animal-details {
  text-align: center;
  margin-top: 10px;
}

/* Button for more info */
.more-info-button {
  margin-top: 15px;
  background-color: #17a2b8;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.more-info-button:hover {
  background-color: #138496;
}

/* Top icon styling */
.top-icon {
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: 0.5;
  cursor: pointer;
  width: 50px; /* Adjust size as needed */
}

/* Media queries for responsiveness */
@media (max-width: 992px) {
  .animal-card {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .animal-card {
    width: calc(100% - 40px);
  }
  
  .animal-description-container {
    position: static;
    transform: none;
    top: auto;
    left: auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
  }
}

@media (max-width: 576px) {
  .more-info-button {
    padding: 10px;
    width: 100%;
  }
}
