/* Conteneur de chaque habitat */
.habitat-container {
  margin-bottom: 40px; /* Espacement entre les habitats */
  padding: 20px;
  border: 1px solid #ddd; /* Bordure autour de chaque habitat */
  border-radius: 8px; /* Coins arrondis */
  background-color: #f9f9f9; /* Fond léger pour chaque habitat */
}

/* Nom de l'habitat */
.habitat-name {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Description de l'habitat */
.habitat-description {
  margin-bottom: 10px;
}

/* Tableau des animaux */
.animals-table {
  width: 100%;
  border-collapse: collapse;
}

/* En-têtes et cellules du tableau */
.animals-table th, .animals-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.animals-table th {
  background-color: #f2f2f2;
}
.vet-records-button {
  margin-right: 10px; /* Ajustez cette valeur selon vos besoins */
}

.button-group {
  margin-bottom: 10px; /* Espace en bas des groupes de boutons */
}