body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(253, 251, 251);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-custom {
  background-color: #1d3a23; 
}

.card-parc-marais{
  background-color: #536857;
}

.card-parc-savane{
  background-color: #72742f;
}

.card-parc-jungle{
  background-color: #438b52;
}
.text-custom-marais{
  color: #92a087;
}
.text-custom-jungle{
  color: #78a518;
}
.text-custom-savane{
  color: #cfd305;
}
.text-custom-insectivore{
  color: #8f621f;
}
.text-custom-histoire {
  color: #EEE8AA;
}
.text-custom-arcadia {
  color: #32CD32;
}
.story {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.breadcrumb{
  background-color: #ffffff;
  --bs-breadcrumb-divider: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E");
  --breadcrumb-active-color: #78a518;
}
a{
  color: #438b52;
}
@media (max-width: 767px) {
  .item {
    flex-direction: column-reverse;
  }
}
